 #background
{
    position:absolute;
    background: url(../images/chamber.png);
    width:416px;
    height:402px;
    left:305px;
    top: 99px
}

 .broken
{
    background: url(../images/broken.png);
    width:150px;
    height:150px
}

 .dummy
{
    background: url(../images/dummy.png);
    width:150px;
    height:150px
}

 .empty
{
    background: url(../images/empty.png);
    width:150px;
    height:150px
}

 .processed
{
    background: url(../images/processed.png);
    width:150px;
    height:150px
}

 .processing
{
    background: url(../images/processing.png);
    width:150px;
    height:150px
}

 .unprocessed
{
    background: url(../images/unprocessed.png);
    width:150px;
    height:150px
}

 .semiprocessed
{
    background: url(../images/semi-processed.png);
      width:150px;
    height:150px
    
}