.overview
{
	height : 800px;
	font-family:Arial,Helvetica,sans-serif;
} 

.logo
{
	height:60px;
}

 .overview_turntable
 {
	width : 800px;
	height : 600px;
 }
 
.overview_opreation
{
	height:600px;
	width:500px;
	border : 1px solid #158895;
	-moz-border-radius : 8px;      /* Gecko browsers */
    -webkit-border-radius : 8px;   /* Webkit browsers */
    border-radius : 8px;            /* W3C syntax */
	background: -webkit-gradient(linear, left top, left bottom, from(#053A44), to(#0D6075));
}

.overview_info
{
	width : 350px;
	height:120px;
	margin-top:20px;
	margin-left : auto;
	margin-right : auto;
}

.overview_info table
{
	width : 350px;
}

.overview_info_1
{
	border-top : 1px solid #0A98AE;
	border-bottom : 1px solid #042A30;
	border-left : 1px solid #07ABC4;
	border-right : 1px solid #042A30;
	background-color : #023845;
	padding-left : 5px;
	color : #fff;
	font-size : 14px;
	height : 22px;
	width : 60%;
	text-align:right;
}

.overview_info_2
{
	border-top : 1px solid #0A98AE;
	border-bottom : 1px solid #042A30;
	border-left : 1px solid #07ABC4;
	border-right : 1px solid #042A30;
	background-color : #0F6C84;
	padding-left : 5px;
	color : #fff;
	font-size : 14px;
	height : 22px;
	width : 40%;
	text-align:left;
}

.overview_recipe
{
	height:460px;
}

.overview_btn
{
	border : 1px solid #158895;
	-moz-border-radius : 8px;      /* Gecko browsers */
    -webkit-border-radius : 8px;   /* Webkit browsers */
    border-radius : 8px;            /* W3C syntax */
	background: -webkit-gradient(linear, left top, left bottom, from(#053A44), to(#0D6075));
	width:130px;
	height : 350px;
	margin-top:30px;
	padding-top:10px;
}

.short_btn 
{
	-moz-border-radius : 5px;      /* Gecko browsers */
    -webkit-border-radius : 5px;   /* Webkit browsers */
    border-radius : 5px;            /* W3C syntax */
	margin-top : 20px;
	width : 80px;
	height : 30px;
	margin-left : 25px;
	font-weight : bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#16707E));
}

.long_btn
{
	-moz-border-radius : 5px;      /* Gecko browsers */
    -webkit-border-radius : 5px;   /* Webkit browsers */
    border-radius : 5px;            /* W3C syntax */
	margin-top : 20px;
	width : 100px;
	height : 30px;
	margin-left : 15px;
	font-weight : bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#16707E));
}

.overview_status
{
	height:600px;
}

.overview_status > fieldset
{
	border : 1px solid #158895;
	-moz-border-radius : 8px;      /* Gecko browsers */
    -webkit-border-radius : 8px;   /* Webkit browsers */
    border-radius : 8px;            /* W3C syntax */
	background: -webkit-gradient(linear, left top, left bottom, from(#053A44), to(#0D6075));
	color:#ABB2B4;
	margin-top:-5px;
	font-size:12px;
	font-weight:bold;
	height:200px;
	margin-left:0px;
}

.overview_status > fieldset > div
{
	margin-top:10px;
}

.Manual
{
	width:1em;
	height:1em;
	background-color:#DFD810;
}

.Unprocessed
{
	width:1em;
	height:1em;
	background-color:#6310DF;
}

.Processing
{
	width:1em;
	height:1em;
	background-color:#09790F;
}

.Completed
{
	width:1em;
	height:1em;
	background-color:#CD320F;
}

.Failed
{
	width:1em;
	height:1em;
	background-color:#120DB7;
}

.Warning
{
	width:1em;
	height:1em;
	background-color:#9B7DB5;
}
 
 #background
{
    position:absolute;
    background: url(../images/chamber.png);
    width:416px;
    height:402px;
    left:305px;
    top: 99px
}

 .broken
{
    background: url(../images/broken.png);
    width:150px;
    height:150px
}

 .dummy
{
    background: url(../images/dummy.png);
    width:150px;
    height:150px
}

 .empty
{
    background: url(../images/empty.png);
    width:150px;
    height:150px
}

 .processed
{
    background: url(../images/processed.png);
    width:150px;
    height:150px
}

 .processing
{
    background: url(../images/processing.png);
    width:150px;
    height:150px
}

 .unprocessed
{
    background: url(../images/unprocessed.png);
    width:150px;
    height:150px
}

 .semiprocessed
{
    background: url(../images/semi-processed.png);
      width:150px;
    height:150px
    
}