::-webkit-scrollbar{  
    width:14px; 
	margin-top : 10px;
}  

::-webkit-scrollbar-track{  
    background-color:#053C4C;
}

::-webkit-scrollbar-track-piece{  
    background-color:#053C4C;
    -webkit-border-radius:4px;
}  

::-webkit-scrollbar-thumb{  
    background-color:#16707E;   
    border-radius:4px;   
}  

::-webkit-scrollbar-corner {  
	background-color: #053C4C;  
}  

::-webkit-scrollbar-thumb:hover{  
    background-color : 0B6A81;  
}  

body 
{
	background-color : #053C4C;
	font-family:Arial,Helvetica,sans-serif;
}

.messagealert
{
	position : absolute;
	left : 45%;
	top : 0px;
	border-top-left-radius : 2px;
	border-top-right-radius : 2px;
	border-bottom-left-radius : 5px;
	border-bottom-right-radius : 5px;
	background-color : #04B922;
	width : 250px;
	margin-left:auto;
	margin-right:auto;
	padding : 10px;
	display : none;
	z-index : 500;
	text-align : center;
	font-weight : bold;
	color : #fff;
}

.head
{
	background-color : #033537;
	width : 100px;
	height : 30px;
	color : #fff;
	font-weight : bold;
	text-align : center;
	line-height : 30px;
	border-top : 2px solid #16707E;
	border-left : 1px solid #07ABC4;
}

.recipebox
{
	border : 1px solid #158895;
	-moz-border-radius : 10px;      /* Gecko browsers */
    -webkit-border-radius : 10px;   /* Webkit browsers */
    border-radius : 10px;            /* W3C syntax */
	background-color : #013335;
	width : 200px;
	height : 500px;
}

.recipe ul
{
	margin-bottom : 10px;
	width : 90%;
	height : 80%;
	overflow:auto;
	padding-left : 20px;
}

.recipe ul  > li 
{
	margin-right:5px;
	margin-left:5px;
	color : #fff;
	font-weight : bold;
	padding : 5px;
}

.recipe ul  > li:hover
{
	background-color : #0BCBD5;
	cursor : pointer;
}

.recipeselect
{
	background-color : #0BCBD5;
}

.recipebtn 
{
	border-top : 1px solid #dedede;
	-moz-border-radius : 15px;      /* Gecko browsers */
    -webkit-border-radius : 15px;   /* Webkit browsers */
    border-radius : 15px;            /* W3C syntax */
	height : 50px;
}

.stepbtn
{
	border-top : 1px solid #dedede;
	-moz-border-radius : 15px;      /* Gecko browsers */
    -webkit-border-radius : 15px;   /* Webkit browsers */
    border-radius : 15px;            /* W3C syntax */
	height : 50px;
}

.recipeheadbox
{
	border : 1px solid #158895;
	-moz-border-radius : 10px;      /* Gecko browsers */
    -webkit-border-radius : 10px;   /* Webkit browsers */
    border-radius : 10px;            /* W3C syntax */
	background-color : #013335;
	width : 200px;
	height : 500px;
	margin-left : 20px;
}

.recipehead table
{
	margin-left : 20px;
	margin-top : 36px;
	width : 150px;
}

.recipehead  td 
{
	border-top : 1px solid #0A98AE;
	border-bottom : 1px solid #042A30;
	border-left : 1px solid #07ABC4;
	border-right : 1px solid #042A30;
	background-color : #16707E;
	padding-left : 10px;
	color : #fff;
	font-size : 14px;
	height : 30px;
}

.recipevaluebox
{
	border : 1px solid #158895;
	-moz-border-radius : 10px;      /* Gecko browsers */
    -webkit-border-radius : 10px;   /* Webkit browsers */
    border-radius : 10px;            /* W3C syntax */
	background-color : #013335;
	width : 910px;
	height : 500px;
	white-space:nowrap;
	
}

.recipevaluebox > div
{
	width : auto;
	margin-top:5px;
	height : 84%;
	overflow: auto;
	white-space:nowrap;
	
}

.recipevaluebox > div > div
{
	width : 90px;
	margin-left : 10px;
	float : left;
	padding-top : 5px;
	padding-bottom: 0px;
	margin-bottom:0px;
} 

.recipevaluebox > div > div > span
{
	margin-left : 31px;
	margin-top : 5px;
	padding : 0px;
}

.recipevaluebox > div > div > span > label
{
	color : #fff;
}
.recipevalue ul
{
	list-style-type : none;
	padding : 0px;
	margin-top : 8px;
}

.recipevalue ul  > li
{
	border-top : 1px solid #0A98AE;
	border-bottom : 1px solid #042A30;
	border-left : 1px solid #07ABC4;
	border-right : 1px solid #042A30;
	background-color : #16707E;
	height : 28px;
	width : 80px;
	line-height : 28px;
	margin-top : 1px;
	padding-left : 10px;
}

.recipevalue ul  li  > input,select
{
	width : 90%;
	background-color : #C6F0FB;
	border : none;
	padding-left : 3px;
}

.recipebtn   button
{
	-moz-border-radius : 5px;      /* Gecko browsers */
    -webkit-border-radius : 5px;   /* Webkit browsers */
    border-radius : 5px;            /* W3C syntax */
	margin-left : 10px;
	margin-top : 10px;
	width : 70px;
	font-weight : bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#16707E));
}

.recipebtn  button:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#0D6FD0));
}

.stepbtn  button
{
	-moz-border-radius : 5px;      /* Gecko browsers */
    -webkit-border-radius : 5px;   /* Webkit browsers */
    border-radius : 5px;            /* W3C syntax */
	margin-left : 30px;
	margin-top : 25px;
	width : 80px;
	height : 30px;
	font-weight : bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#16707E));
}

.stepbtn  button:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#0D6FD0));
}

.unsave
{
	color : #AF0505;
}